<div style="text-align:center">
<h1>Thank You!</h1>
<p> Your purchase has been succesful!</p>
<p>You can download your app form the profile page where you can view all your purchased apps.</p>
<a class="btn btn-primary btn-lg" href="/transactions">Your Profile</a><br><br>
</div>
